.budget-box {
    text-align: center;
}
/* spacing them */


.list, .item-content {
    background-color:;
}

.button {
    margin: auto;
}

.ul {

}

.item-title, .expense-amount, .income-amount {
    margin: auto;
}
/* Page Background Colour */
.page-content-expenses {
    background-image: linear-gradient(to top, white, orangered); /* Standard syntax (must be last) */
}

.page-content-income {
    background-image: linear-gradient(to top, white, yellowgreen);
}

.page-content-budget {
    background-image: linear-gradient(to top, white, navajowhite);
}

.navbar-inner {
    margin-left: 35%;
}



