/* Classes for navbar color change */

.rednavbar { background-color: orangered !important; }

.greennavbar { background-color: yellowgreen !important; }

/* Classes for toolbar colour change */
.redtoolbar { background-color: palevioletred !important; }

.greentoolbar { background-color: lightgreen !important; }

/* Top */
.navbar {
    background-color: navajowhite;
}

.navbar-inner {
    margin-left: 35%;
}


/* Budget page */
.page-content-budget {
    background-image: linear-gradient(to top, rosybrown, navajowhite);
}

.budget-box {
    text-align: center;
}

.list, .item-content {
    background-color: burlywood;
}

.list {
    border-style: solid;
    border-color: white;
    border-width: medium;
    border-radius: 5px;
}
.budget-box {
    text-align: center;
}

.button {
    margin: auto;
}

.item-title, .expense-amount, .income-amount {
    margin: auto;
}
/* Expense Page */
.page-content-expenses {
    background-image: linear-gradient(to top, palevioletred, orangered); /* Standard syntax (must be last) */
}

/* Income Page */
.page-content-income {
    background-image: linear-gradient(to top, lightgreen, yellowgreen);
}

/* Bottom */

.toolbar {
    background-color: rosybrown;
}



